<!--
  Generated template for the CurrentTripPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <navigation></navigation>
</ion-header>


<ion-content>
  <ion-row id="swapButton"  justify-content-around>
    <ion-col col-auto>
      <button ion-button color="primary" icon-only (click)="toggleMapAndCamera()">
        <ion-icon name="swap"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <div class="upperPart">
    <div class="myMap" [hidden]="!showMap">
      <agm-map [latitude]="myLocation.lat" [longitude]="myLocation.long" [zoom]="myMap.zoom">
        <agm-marker [latitude]="myLocation.lat" [longitude]="myLocation.long">
        </agm-marker>
      </agm-map>
    </div>

    <div class="canvasContainer" [hidden]="showMap">
      <canvas #canvas playsinline autoplay (window:resize)="onResize($event)"></canvas>
    </div>

  </div>

  <!--
    <div class="bottomPart" *ngFor="let step of connection.legs; let lst = last; let i = index">
  -->
  <div class="bottomPart" *ngIf="currentLeg">

    <!--<button ion-button (click)="add1Minute()"> +1 Minute</button>-->
    <ion-card color='{{currentLeg.line.product}}' [hidden]="!showMap" *ngIf="currentLeg.mode != 'walking'">
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-4>
              {{ currentLeg.line.name }}
            </ion-col>
            <ion-col col-1>
              <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-col>
            <ion-col col-7>
              {{ currentLeg.direction }}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card [hidden]="!showMap">
      <ion-row class="currentStop" justify-content-between (click)="togglePassedStations()" *ngIf="stepList.length > 1">

        <ion-col col-auto>
          <ion-row>
            <ion-col col-auto>
              <ion-item class="arrivalDetail">
                <ion-note class="arrivalDetailNote">Nächster Halt</ion-note>
                <div class="arrivalDetailText" *ngIf="stepList.length > 1">
                  {{ (stepList[0].departure? getVVBTime(stepList[0].departure) : getVVBTime(stepList[0].formerScheduledDeparture)) }} Uhr
                </div>
                <div class="arrivalDetailText" *ngIf="stepList.length < 1">
                  {{ (currentLeg.arrival? getVVBTime(currentLeg.arrival) : getVVBTime(currentLeg.formerScheduledArrival)) }} Uhr
                </div>
              </ion-item>
            </ion-col>
            <ion-col col-auto>
              <ion-item class="arrivalDetail">
                <ion-note class="arrivalDetailNote">Bahnhof</ion-note>
                <div class="arrivalDetailText" *ngIf="stepList.length > 1">
                  {{stepList[0].station.name}}
                </div>
                <div class="arrivalDetailText" *ngIf="stepList.length < 1">
                  {{currentLeg.destination.name}}
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-2 align-self-end *ngIf="stepList.length > 2">
          <button ion-button round icon-only clear color="primary">
            <ion-icon name="{{passedStations? 'ios-arrow-down' : 'ios-arrow-up' }}"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="nextStops" *ngIf="stepList.length > 2 && passedStations">
        <ion-col col-12 *ngFor="let step of stepList; first as frst; last as lst;">
          <ion-row *ngIf="!frst && !lst">
            <ion-col col-auto>
              {{ (step.departure? getVVBTime(step.departure) : getVVBTime(step.formerScheduledDeparture)) }} Uhr
            </ion-col>
            <ion-col>
              {{step.station.name}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="arrivalStop">

        <ion-col col-12 class="arrivalRow">

          <ion-row>

            <ion-col col-auto>
              <ion-item class="arrivalDetail">
                <ion-note class="arrivalDetailNote">Ankunft</ion-note>
                <div class="arrivalDetailText">
                  {{ (currentLeg.arrival? getVVBTime(currentLeg.arrival) : getVVBTime(currentLeg.formerScheduledArrival)) }} Uhr
                </div>
              </ion-item>
            </ion-col>

            <ion-col col-auto>
              <ion-item class="arrivalDetail">
                <ion-note class="arrivalDetailNote">Gleis</ion-note>
                <div class="arrivalDetailText">
                  {{currentLeg.arrivalPlatform? currentLeg.arrivalPlatform : "?" }}
                </div>
              </ion-item>
            </ion-col>

            <ion-col col-auto>
              <ion-item class="arrivalDetail">
                <ion-note class="arrivalDetailNote">Bahnhof</ion-note>
                <div class="arrivalDetailText">
                  {{currentLeg.destination.name}}
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-card>

    <ion-card>
      <ion-row class="departureStop">
        <ion-col col-12 class="arrivalRow">

          <ion-row>

            <ion-col col-auto>
              <ion-item class="arrivalDetail">
                <ion-note class="arrivalDetailNote">Abfahrt</ion-note>
                <div class="arrivalDetailText">
                  {{ (nextLeg.departure? getVVBTime(nextLeg.departure) : getVVBTime(nextLeg.formerScheduledDeparture)) }} Uhr
                </div>
              </ion-item>
            </ion-col>

            <ion-col col-auto>
              <ion-item class="arrivalDetail">
                <ion-note class="arrivalDetailNote">Gleis</ion-note>
                <div class="arrivalDetailText">
                  {{nextLeg.departurePlatform? nextLeg.departurePlatform : "?" }}
                </div>
              </ion-item>
            </ion-col>

            <ion-col col-auto>
              <ion-item class="arrivalDetail">
                <ion-note class="arrivalDetailNote">Bahnhof</ion-note>
                <div class="arrivalDetailText">
                  {{nextLeg.origin.name}}
                </div>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card color='{{nextLeg.line.product? nextLeg.line.product : primary}}' *ngIf="connection.legs.length > 1 && nextLeg && nextLeg.mode != 'walking'">
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col col-4>
              {{ nextLeg.line.name }}
            </ion-col>
            <ion-col col-1>
              <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-col>
            <ion-col col-7>
              {{ nextLeg.direction }}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>

</ion-content>
