page-location-search {
  agm-map {
    height: 100%;
  }

  .canvasContainer {
    height: 45%;
    canvas {
      width: 100%;
      max-height: 100%;
    }
  }

  #swapButton {
    position: absolute;
    top: 0;
    z-index: 2;
    //background: rgba(250, 250, 250, 0.25);
    width: 100%;
  }

  .canvasContainer {
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    height: 100%;
    canvas {
      width: 100%;
      max-height: 100%;
    }
  }

  .searchCard {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
  }

  .myMap {
    height: 100%;
  }
}

