<!-- Generated template for the ConnectionComponent component -->
<div class="connectionDetail" *ngIf="details">
  <ion-card color="primary">
    <ion-card-content *ngIf="!expandedDetails">
      <ion-row>
        <ion-col col-11>
          <ion-card-title>Deine Reise</ion-card-title>
        </ion-col>
        <ion-col col-1>
          <button ion-button round icon-only clear color="light" (click)="toggleDetails()">
            <ion-icon name="{{expandedDetails? 'ios-arrow-down' : 'ios-arrow-up' }}"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="pin"></ion-icon>
            </ion-col>
            <ion-col col-11>
              {{ getVBBDate(connection.departure) }}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12>
          <div class="stationName">
            {{ connection.origin.name }}
          </div>
        </ion-col>
      </ion-row>
      <hr/>
      <ion-row>
        <ion-col col-12>
          <h3> Reisezeit: {{ getVBBTravelTime(connection.departure, connection.arrival) }}</h3>
        </ion-col>
      </ion-row>
      <hr/>
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="flag"></ion-icon>
            </ion-col>
            <ion-col col-11>
              {{ getVBBDate(connection.arrival) }}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12>
          <div class="stationName">
            {{ connection.destination.name }}
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-content class="centeredText" (click)="toggleDetails()" *ngIf="expandedDetails">
      <ion-row class="centeredText">
        <ion-col col-5>
          {{ getVBBDate(connection.departure) }}
        </ion-col>
        <ion-col col-2>
          <ion-icon name="time"></ion-icon>
        </ion-col>
        <ion-col col-5>
          {{ getVBBDate(connection.arrival) }}
        </ion-col>
      </ion-row>
      <ion-row class="centeredText">
        <ion-col col-5>
          <div class="stationName">
            {{ connection.origin.name }}
          </div>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="arrow-round-forward"></ion-icon>
        </ion-col>
        <ion-col col-5>
          <div class="stationName">
            {{ connection.destination.name }}
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <div *ngFor="let step of connection.legs; let lst = last; let i = index">
    <ion-card color="light" *ngIf="step.travel_mode === 'walking'">
      <img src=""/>
      <ion-card-content>
        <h2>
          <ion-icon name="walk"></ion-icon>
          <!--
                    {{ step.html_instructions }}
          -->
        </h2>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="step.id">
      <ion-card color='{{step.line.product}}'>
        <ion-card-header>
        <ion-row>
          <ion-col col-2>
            {{ step.line.name }}
          </ion-col>
          <ion-col col-2>
            <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-col>
          <ion-col col-8>
            {{ step.direction }}
          </ion-col>
        </ion-row>
        </ion-card-header>
      </ion-card>

      <ion-card-content>
        <i>
          <ion-row>
          <ion-col col-2>
            Abfahrt
          </ion-col>
          <ion-col col-2>
            Gleis
          </ion-col>
          <ion-col col-8>
            Bahnhof/Haltestelle
          </ion-col>
        </ion-row>
        </i>

        <h2>
          <ion-row>
            <ion-col col-2>
              {{ getVBBTime(step.departure) }}
            </ion-col>
            <ion-col col-2>
              {{ step.departurePlatform? step.departurePlatform : "?" }}
            </ion-col>
            <ion-col col-8>
              {{ step.origin.name }}
            </ion-col>
          </ion-row>
        </h2>

        <hr/>
        <ion-row>
          <ion-col col-4>
            Fahrtzeit:
          </ion-col>
          <ion-col col-8>
            {{getVBBTravelTime(step.departure, step.arrival)}}
          </ion-col>
        </ion-row>
        <hr/>

        <i>
        <ion-row>
          <ion-col col-2>
            Ankunft
          </ion-col>
          <ion-col col-2>
            Gleis
          </ion-col>
          <ion-col col-8>
            Bahnhof/Haltestelle
          </ion-col>
        </ion-row>
        </i>

        <h2>
          <ion-row>
            <ion-col col-2>
              {{ getVBBTime(step.arrival) }}
            </ion-col>
            <ion-col col-2>
              {{ step.arrivalPlatform? step.arrivalPlatform : "?" }}
            </ion-col>
            <ion-col col-8>
              {{ step.destination.name }}
            </ion-col>
          </ion-row>
        </h2>
      </ion-card-content>

    </ion-card>

    <ion-card *ngIf="!lst && step.mode !== 'walking' && connection.legs[i+1].mode !== 'walking'">
      <ion-row class="transitTime">
        <ion-col col-2>
          <ion-icon name="log-out"></ion-icon>
        </ion-col>
        <ion-col col-8>{{getVBBTravelTime(step.arrival, connection.legs[i+1].departure)}}</ion-col>
        <ion-col col-2>
          <ion-icon name="log-in"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <!--
    <div *ngFor="let step of connection.legs; let lst = last;let i = index">
      <ion-card color="light" *ngIf="step.mode === 'walking'">
        <ion-card-content>
          <h2>
            <ion-icon name="walk"></ion-icon>
            <ion-icon name="arrow-round-forward"></ion-icon>
            {{ step.destination.name }}
          </h2>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="step.id && step.line.mode === 'train'" color='{{step.line.symbol}}'>
        <ion-card-header>
          <ion-card-title>
            {{ step.line.name}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card *ngIf="step.id && step.line.mode !== 'train'" color='{{step.line.mode}}'>
        <ion-card-header>
          <ion-card-title>
            {{ step.line.name}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card *ngIf="!lst && step.mode !== 'walking' && connection.legs[i+1].mode !== 'walking'">
        <ion-row class="transitTime">
          <ion-col col-2>
            <ion-icon name="log-out"></ion-icon>
          </ion-col>
          <ion-col col-8>{{getVBBTravelTime(step.arrival, connection.legs[i+1].departure)}}</ion-col>
          <ion-col col-2>
            <ion-icon name="log-in"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  -->

</div>

<div class="connectionOverview" *ngIf="!details">
  <ion-card class="infoCard" color="">
    <ion-card-content>
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-2>
              <ion-icon name="pin"></ion-icon>
            </ion-col>
            <ion-col col-10>
              {{ getVBBDate(connection.departure) }}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12>
          <div class="stationName">
            {{ connection.origin.name }}
          </div>
        </ion-col>
      </ion-row>
      <hr/>
      <h3> Reisezeit: {{ getVBBTravelTime(connection.departure, connection.arrival) }}</h3>
      <hr/>
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-2>
              <ion-icon name="flag"></ion-icon>
            </ion-col>
            <ion-col col-10>
              {{ getVBBDate(connection.arrival) }}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12>
          <div class="stationName">
            {{ connection.destination.name }}
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <div *ngFor="let step of connection.legs; let lst = last;let i = index">
    <ion-card color="light" *ngIf="step.mode === 'walking'">
      <ion-card-content>
        <h2>
          <ion-icon name="walk"></ion-icon>
          <ion-icon name="arrow-round-forward"></ion-icon>
          {{ step.destination.name }}
        </h2>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="step.id" color='{{step.line.product}}'>
      <ion-card-header>
        <ion-card-title>
          {{ step.line.name}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card *ngIf="!lst && step.mode !== 'walking' && connection.legs[i+1].mode !== 'walking'">
      <ion-row class="transitTime">
        <ion-col col-2>
          <ion-icon name="log-out"></ion-icon>
        </ion-col>
        <ion-col col-8>{{getVBBTravelTime(step.arrival, connection.legs[i+1].departure)}}</ion-col>
        <ion-col col-2>
          <ion-icon name="log-in"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</div>
