<!-- Generated template for the ConnectionComponent component -->
<div>
  <ion-card color="">
    <img src=""/>
    <ion-card-content>
      <ion-card-title>Deine Reise</ion-card-title>
      <button ion-button item-end icon-left clear>
        <ion-icon name="pin"></ion-icon>
        {{ getMyDate(connection.routes[0].legs[0].departure_time.value) }}
      </button>

      <h2>
        {{ connection.routes[0].legs[0].start_address }}
      </h2>
      <br/>
      <hr/>
      <h3> Reisezeit: {{ getTravelTime(connection.routes[0].legs[0].duration.value) }}</h3>
      <hr/>
      <button ion-button item-end icon-left clear>
        <ion-icon name="flag"></ion-icon>
        {{ getMyDate(connection.routes[0].legs[0].arrival_time.value) }}
      </button>

      <h2>
        {{ connection.routes[0].legs[0].end_address }}
      </h2>

    </ion-card-content>
  </ion-card>
  <div *ngFor="let step of connection.routes[0].legs[0].steps">
    <ion-card color="light" *ngIf="step.travel_mode === 'WALKING'">
      <img src=""/>
      <ion-card-content>
        <h2>
          <ion-icon name="walk"></ion-icon>
          {{ step.html_instructions }}
        </h2>
        <!--
          <ol>
            <li *ngFor="let microStep of step.steps">{{ microStep.html_instructions }}</li>
          </ol>
          -->
      </ion-card-content>
    </ion-card>
    <ion-card color="primary" *ngIf="step.travel_mode === 'TRANSIT'">
      <img src=""/>
      <ion-card-content>
        <h2>
          <ion-row>
            <ion-col col-3>
              {{ getMyTime(step.transit_details.departure_time.value) }}
            </ion-col>
            <ion-col col-9>
              {{ step.transit_details.departure_stop.name }}
            </ion-col>
          </ion-row>
        </h2>
        <ion-row>
          <ion-col col-3>
            {{ step.transit_details.line.short_name }}
          </ion-col>
          <ion-col col-9>
            <ion-icon name="arrow-round-forward"></ion-icon> {{ step.transit_details.headsign }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <i>Dauer {{ getTravelTime(step.duration.value) }}, {{ step.transit_details.num_stops }} Stop(s)</i>
          </ion-col>
        </ion-row>
        <h2>
          <ion-row>
            <ion-col col-3>
              {{ getMyTime(step.transit_details.arrival_time.value) }}
            </ion-col>
            <ion-col col-9>
              {{ step.transit_details.arrival_stop.name }}
            </ion-col>
          </ion-row>
        </h2>
      </ion-card-content>
    </ion-card>

  </div>
</div>
