connection {
  .stationName {
    font-size: 1.8rem;
  }
  .transitTime {
    text-align: center;
  }
  .connectionDetail {
    transition: 0.5s;

    .stationName{
      font-size: 2.2rem;
    }
    .centeredText {
      text-align: center;
    }
/*    .mapContainer{
      margin: 0 -16px -10px -16px;
    }*/
  }
  .connectionOverview {
    .infoCard {
      width: 20rem;
    }
  }
  agm-map {
    height: 200px;
  }
}
