<!-- Generated template for the NavigationComponent component -->
<ion-navbar>
  <button ion-button menuToggle>
    <!--<ion-icon name="menu"></ion-icon>-->
    <ion-icon name="menu"></ion-icon>
  </button>
  <img src="./assets/imgs/Logo.svg" style="height: 45px"/>
  Berlin

  <ion-buttons end>
    <button ion-button icon-only (click)="openLocationSearh()">
      <ion-icon name="camera"></ion-icon>
    </button>
    <button ion-button icon-only (click)="openSearh()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
