page-search-results {
  .connectionOverviewPage {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .connectionDetailPage {
    flex-basis: 100%;
    width: auto;

    button {
      margin: 10px;
    }

    a {
      text-decoration: none;
    }
  }
}
