<!-- Generated template for the SearchComponent component -->
<ion-card *ngIf="locationSearch && closestStation">
  <ion-card-header class="departureCardHeader">
    <ion-row justify-content-between align-items-center>
      <ion-col col-1>
        <ion-icon name="locate"></ion-icon>
      </ion-col>
      <ion-col>
        {{closestStation.name}} <i>({{closestStation.distance}}m)</i>
      </ion-col>
      <ion-col col-auto>
        <button ion-button small icon-only clear color="primary" (click)="toggleDepartures()">
          <ion-icon name="{{showDepartures? 'ios-arrow-up' : 'ios-arrow-down' }}"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content *ngIf="departures && showDepartures" class="departureCardContent">
    <ion-card *ngFor="let departure of departures" color='{{departure.line.product}}'>
      <ion-row>
        <ion-col col-4>
          {{departure.line.name}}
        </ion-col>
        <ion-col col-8>
          {{departure.direction}}
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-card-content>
</ion-card>
<ion-card class="searchCardContainer">
  <ion-list>
    <ion-row *ngIf="!locationSearch">
      <ion-col col-1>
        <ion-label>
          <ion-icon name="pin"></ion-icon>
        </ion-label>
      </ion-col>
      <ion-col col-11>
        <ion-item>
          <ion-label color="primary" stacked>Start</ion-label>
          <ion-input placeholder="Start" clearInput
                     [(ngModel)]="connection.start.name"
                     (ionChange)="searchStartInput($event)"
                     (ionFocus)="searchStartHighlight()">
          </ion-input>
        </ion-item>
      </ion-col>
      <!--
            <ion-spinner name="crescent" class="loadingSpinner" *ngIf="startLoading"></ion-spinner>
      -->
    </ion-row>

    <ion-row *ngIf="startResults" justify-content-end class="seachResults">
      <ion-col col-11 *ngFor="let staion of stations">
        <button class="stationButton" ion-button block round icon-left (click)="selectedStartStation(staion)">
          <ion-icon name="locate"></ion-icon>
          {{staion.name}}
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!locationSearch">
      <ion-col col-1>
        <ion-label>
          <ion-icon id="stopover" name="git-commit"></ion-icon>
        </ion-label>
      </ion-col>

      <ion-col col-2 push-9>
        <button ion-button icon-only round clear [color]="stopoverBool ? 'secondary' : 'danger'"
                (click)="toggleStopover()">
          <ion-icon [name]="stopoverBool ? 'add':'remove'"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-9 pull-2>
        <ion-item>
          <ion-label color="{{stopoverBool ? 'grey' : 'primary'}}" stacked>Zwischenhalt</ion-label>
          <ion-input placeholder="Zwischenhalt" clearInput
                     *ngIf="!stopoverBool"
                     [(ngModel)]="connection.stopover.name"
                     (ionChange)="searchStopoverInput($event)"
                     (ionFocus)="searchStopoverHighlight()"
                     [disabled]="stopoverBool">
          </ion-input>
        </ion-item>
      </ion-col>


    </ion-row>

    <ion-row *ngIf="stopoverResults" justify-content-end class="seachResults">
      <ion-col col-11 *ngFor="let staion of stations">
        <button class="stationButton" ion-button block round icon-left (click)="selectedStopoverStation(staion)">
          <ion-icon name="locate"></ion-icon>
          {{staion.name}}
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-1>
        <ion-label>
          <ion-icon name="flag"></ion-icon>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="primary" stacked>Ziel</ion-label>
          <ion-input placeholder="Ziel" clearInput
                     [(ngModel)]="connection.end.name"
                     (ionChange)="searchEndInput($event)"
                     (ionFocus)="searchEndHighlight()">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="endResults" justify-content-end class="seachResults">
      <ion-col col-11 *ngFor="let staion of stations">
        <button class="stationButton" ion-button block round icon-left (click)="selectedEndStation(staion)">
          <ion-icon name="locate"></ion-icon>
          {{staion.name}}
        </button>
      </ion-col>
    </ion-row>

    <ion-row radio-group justify-content-between [(ngModel)]="departureSelection">
      <ion-col>
        <ion-item>
          <ion-radio value="departure" checked item-start></ion-radio>
          <ion-label stacked>Abfahrt um</ion-label>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-radio value="departure-in" item-start></ion-radio>
          <ion-label stacked>Abfahrt in</ion-label>
        </ion-item>
      </ion-col>
      <!--
            <ion-col col-4>
              <ion-item>
                <ion-radio value="arrival" item-start></ion-radio>
                <ion-label stacked>Ankunft bis</ion-label>
              </ion-item>
            </ion-col>-->
    </ion-row>

    <ion-row *ngIf="departureSelection != 'departure-in'"
             align-self-center class="dateTime">
      <ion-col align-self-center>
        <ion-row nowrap>
          <ion-col align-self-center col-auto>
            <ion-icon name="calendar"></ion-icon>
          </ion-col>
          <ion-col align-self-center>
            <ion-item>
              <ion-datetime displayFormat="DD.MM.YYYY"
                            min="2018-01-01" max="2020-12-31"
                            [(ngModel)]="myDate"
                            placeholder="Heute"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col align-self-center>
        <ion-row nowrap>
          <ion-col align-self-center col-auto>
            <ion-icon name="time"></ion-icon>
          </ion-col>
          <ion-col align-self-center>
            <ion-item>
              <ion-datetime class="datetime-md"
                            displayFormat="HH:mm"
                            [(ngModel)]="myTime"
                            (ionChange)="logSelectedTime($event)"
                            item-start>

              </ion-datetime>
              <ion-label>Uhr</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="departureSelection == 'departure-in'" align-self-center>
      <ion-col>
        <ion-item *ngIf="departureSelection == 'departure-in'" col-12>
          <ion-range min="15" max="180" step="15"
                     [snaps]="true"
                     [(ngModel)]="minute_slider"
                     (ionChange)="setDeparture($event)">
            <ion-label range-right>{{ minute_slider }} Minuten</ion-label>
          </ion-range>
        </ion-item>
      </ion-col>
    </ion-row>

    <!--
        <ion-row align-items-center class="filterSection">
          <ion-col col-auto>
            <ion-label>
              <ion-icon name="ios-funnel"></ion-icon>
            </ion-label>
          </ion-col>
          <ion-col>
            <button class="vehicleButton" ion-button icon-only clear round>
              <ion-img src="./assets/imgs/logos/IC-Logo.svg" width="100%"></ion-img>
            </button>
          </ion-col>
          <ion-col>
            <button class="vehicleButton noSVG" ion-button round>
              <i>RE</i>
            </button>
          </ion-col>
          <ion-col>
            <button class="vehicleButton" ion-button icon-only clear round>
              <ion-img src="./assets/imgs/logos/S-Bahn-Logo.svg" width="100%"></ion-img>
            </button>
          </ion-col>
          <ion-col>
            <button class="vehicleButton" ion-button icon-only clear round>
              <ion-img src="./assets/imgs/logos/Tram-Logo.svg" width="100%"></ion-img>
            </button>
          </ion-col>
          <ion-col>
            <button class="vehicleButton" ion-button icon-only clear round>
              <ion-img src="./assets/imgs/logos/U-Bahn-Logo.svg" width="100%"></ion-img>
            </button>
          </ion-col>
          <ion-col>
            <button class="vehicleButton" ion-button icon-only clear round>
              <ion-img src="./assets/imgs/logos/Bus-Logo-BVG.svg" width="100%"></ion-img>
            </button>
          </ion-col>
        </ion-row>
    -->

    <ion-row justify-content-between *ngIf="showFilter">

      <ion-col (click)="(vehicleSelection.express.active = !vehicleSelection.express.active)">
        <button class="centeredText" ion-button
                [color]="vehicleSelection.express.active ? 'express' : 'grey'"
                round block [outline]="!vehicleSelection.express.active">
          {{vehicleSelection.express.type}}
        </button>
      </ion-col>
      <ion-col (click)="(vehicleSelection.regional.active = !vehicleSelection.regional.active)">
        <button class="centeredText" ion-button [color]="vehicleSelection.regional.active ? 'regional' : 'grey'"
                round block [outline]="!vehicleSelection.regional.active">
          {{vehicleSelection.regional.type}}
        </button>
      </ion-col>
      <ion-col (click)="(vehicleSelection.suburban.active = !vehicleSelection.suburban.active)">
        <button ion-button [color]="vehicleSelection.suburban.active ? 'suburban' : 'grey'"
                round block [outline]="!vehicleSelection.suburban.active">
          {{vehicleSelection.suburban.type}}
        </button>
      </ion-col>
      <ion-col (click)="(vehicleSelection.subway.active = !vehicleSelection.subway.active)">
        <button ion-button [color]="vehicleSelection.subway.active ? 'subway' : 'grey'"
                round block [outline]="!vehicleSelection.subway.active">
          {{vehicleSelection.subway.type}}
        </button>
      </ion-col>
      <ion-col (click)="(vehicleSelection.tram.active = !vehicleSelection.tram.active)">
        <button ion-button [color]="vehicleSelection.tram.active ? 'tram' : 'grey'"
                round block [outline]="!vehicleSelection.tram.active">
          {{vehicleSelection.tram.type}}
        </button>
      </ion-col>
      <ion-col (click)="(vehicleSelection.bus.active = !vehicleSelection.bus.active)">
        <button ion-button [color]="vehicleSelection.bus.active ? 'bus' : 'grey'"
                round block [outline]="!vehicleSelection.bus.active">
          {{vehicleSelection.bus.type}}
        </button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-between align-items-center>
      <ion-col col-auto (click)="toggleFilters()">
        <button ion-button round outline icon-end>
          Filter
          <ion-icon name="ios-funnel"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-auto>
        <button ion-button round outline icon-end (click)="searchConnection()">
          Suchen
          <ion-icon name="paper-plane"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-list>

  <div class="loadingOverlay" *ngIf="searchingConnection">
    <div class="loadingLogo"></div>
    <!--
            <img src="./assets/imgs/logos/S-Bahn-Logo.png" width="100%" class="loadingIcon"/>
    -->
  </div>
</ion-card>
